@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<h1 class="text-danger">@ViewData["Title"]</h1>

<div class="WhiteBackground row">
        <p class="text-danger">
            This account has been locked out..
            <br />
            Contact Admin@gmail.com For Account Activation
        </p>
    </div>

