@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

@*This page is displaying the list of all categories *@


<div class="WhiteBackground border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Categories List</h2>
        </div>
        
    </div>

    <div>

        @* Check If there is no Categories in the list if there is no categories
        a message no categories will be displayed else
        all categories name will be displayed in a table *@


        @if (Model.Count() == 0)
        {
            <p class="text-danger">No Categories... </p>
            <p class="text-danger">
                You Can Add New One From The Button Create New Above..
            </p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>

                    </th>

                </tr>

                @*we need a for loop to check the list of category to display items in it*@

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Name)
                        </td>

                        @*Three buttons for the Category Details,Edit *@
                        <td style="width:150px">
                            <partial name="_OperationsButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }

            </table>
        }
    </div>

</div> 

