@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="WhiteBackground">
    <div class="col-md-6">
        @*<p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>*@
        <p>
            <strong class="text-danger">Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>

        <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary form-control">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}